{% extends 'base.html' %}

{% block content %}
	<form method="POST" action="{% url 'groups:create' %}">
		{% csrf_token %}
		{{ form.as_p }}

		<button type="submit">Добавить группу</button>
	</form>
{% endblock content %}
