{% extends 'base.html' %}

{% block content %}
    {% verbatim %}
    <div id="users">
        <div class="user" id="first_user">
            <img v-on:click="like" id="first_user_img" class="user_img" v-bind:src="first_user.avatar" v-bind:alt="first_user.vk_id">
            <a v-bind:href="'https://vk.com/id' + first_user.vk_id" target="_blank">
                <p class="user_lbl">{{ first_user.first_name }} {{ first_user.last_name }}</p>
            </a>
            <p class="user_marks">Рейтинг: {{ first_user.marks }}</p>
        </div>

        <div class="user" id="second_user">
            <img v-on:click="like" id="second_user" class="user_img" v-bind:src="second_user.avatar" v-bind:alt="second_user.vk_id">
            <a v-bind:href="'https://vk.com/id' + second_user.vk_id" target="_blank">
                <p class="user_lbl">{{ second_user.first_name }} {{ second_user.last_name }}</p>
            </a>
            <p class="user_marks">Рейтинг: {{ second_user.marks }}</p>
        </div>
    </div>
    {% endverbatim %}
{% endblock content %}