{% extends 'base.html' %}

{% block content %}
<ul>
    {% for user in top_users %}
    <li>
        <a href="https://vk.com/id{{ user.vk_id }}" target="_blank"><b>{{ user.first_name }} {{ user.last_name }}</b> | Рейтинг: {{ user.marks }}</a>
    </li>
    {% empty %}
    <li>
        <h1>В группе нет пользователей</h1>
    </li>
    {% endfor %}
</ul>
{% endblock content %}