.container {
  width: 800px;
  margin: 0 auto;

  #users {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .user {
      .user_lbl {
        text-align: center;
      }
      .user_marks {
        text-align: center;
      }
    }
  }
}