.container {
  width: 800px;
  margin: 0 auto; }
  .container #users {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .container #users .user .user_lbl {
      text-align: center; }
    .container #users .user .user_marks {
      text-align: center; }

/*# sourceMappingURL=style.css.map */
