{% extends 'base.html' %}

{% block content %}
    <h1>Ну привет, {{ request.user }}</h1>

    <ul>
    	{% for group in groups %}
    	<li>
			<a href="{% url 'groups:detail' group.slug %}">{{ group.title }}</a>
    	</li>
    	{% endfor %}
    </ul>
{% endblock content %}
